.container {
	margin-top: 5rem;
	width: clamp(720px, 80%, 320px);
	padding: 0 1rem;
}
.fieldset {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
.info {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.step {
	margin: 1rem 0;
}