.nav {
	background-color: #0095C3;
	width: 20rem;
	padding-top: 10rem;
}
.nav > h1 {
	padding: 0 1.5rem;
	margin-bottom: 1.5rem;
}
.nav ul {
	display: flex;
	flex-direction: column;
	height: max-content;
	background-color: white;
}
.nav li {
	padding: 1rem 1.5rem;
	transition: all .35s ease;
}
.nav a {
	font-size: 1.25rem;
	font-weight: 300;
	transition: transform .35s ease;
}
.nav a:hover > li {
	transform: translateX(2px);
	border-right: #0095C3 2px solid;
}