.container {
	margin-top: 5rem;
	padding: 1.5rem;
	width: 100%;
	justify-content: center;
}
.list {
	width: 100%;
}
.list li {
	padding: .5rem;
	line-height: 1.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 149, 195, 0.3);
}
.list li span {
	width: 20%;
}
.list li:first-child {
	background-color:rgba(0, 0, 0, 0.2);
}
.list li:nth-child(2n+3) {
	background-color:rgba(0, 149, 195, 0.4);
}
.buttons {
	display: flex;
	justify-content: space-between;
}